
     
body {
    background-image: url(../img/background.jpg );
    
    display: block;
    width: 100%;
} 


 header {
   width: 90%;
   margin-left: auto;
    margin-right: auto;
   max-width: 1080px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000066;
    border: 1px solid #216978 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.logo {
    display: flex;
    flex-direction: column;
    font-family: "String family";
    text-align: center;
    color: #2d5fc4;
    background-color: white;
    border: 1px solid #216978 ;
    border-radius: 50px;
    font-size:1.875em; /*30px*/
    height: 100px;
    box-sizing: border-box;
    
    padding: 10px 20px;
}
.navigation {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid #216978 ;
    border-radius: 10px;
    
    box-sizing: border-box;
   
}
li {
   display: inline-block;
    }

li a {

    display: block;
    color: #2d5fc4;
    text-align: center;
    padding:10px 30px;
    text-decoration: none;
    font-family: "String family";
    font-size: 2.5em;/*40px*/
    box-sizing: border-box;
    border-radius: 10px; 
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #87ceff;
}
.block{
   margin-top: 50px;
   /*width: 100%;*/
 }
 .block-container_family {
    display: flex;
   justify-content: space-between;
   width: 90%;
   margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
   ;
    background-color:#d6eaff;
     border-radius: 10px;

}
.block-container_img {
    display: block;
   
    border: 1px solid #216978;
    border-radius: 25px;
    width: 50%;
    height: 300px;
    
    max-width: 100%;
    margin: 20px;
    
}
.block-container_family p{
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    width: 50%;
    color: white;
    height: 200px;
    border-radius: 50px;
    background-color:#143d66;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
}
 .block-container {
    
    display: block;
    width: 90%;
   margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    background-color:#d6eaff;
     margin-top: 50px;
      border-radius: 10px;
}

 
.block-container_name {
    text-align: center;
    color: #2d5fc4;
    font-family: "String family";
    font-size: 3.125em;/*50px*/
    height: 100px;
   
}
.block-conteiner_dis{
    
    display: flex;
   justify-content: space-around;
   /* margin: 10px;*/
    

}

img  {
    width: 25%;
    height: auto;
    max-width: 100%;
     
     
    
}
.text_violin{
     width: 25%;
     display: block;
 }
.text_violin p {
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    color: white;
    border: 1px solid #216978;
    height: 150px;
    border-radius: 15px 50px;
    background-color:#3d003d;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
}
.text_viola{
     width: 25%;
     display: block;
 }
.text_viola p {
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    color: white;
    height: 150px;
    border-radius: 50px;
    background-color:#004c66;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
}
.text_cello{
     width: 25%;
     display: block;
}
.text_cello p {
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    color: white;
    height: 150px;
    border-radius: 15px 50px;
    background-color:#660000;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
}
.text_contrabass{
      width: 25%;
     display: block;
}
.text_contrabass p {
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    color: white;
    height: 150px;
    border-radius: 50px;
    background-color:#4c4c4c;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
}

.about{
    
    font-family: "String family";
    font-size: 1.25em; /*20px*/
    width: 700px;
    height: 200px;
     border-radius: 30px;
      margin: auto;
}
@font-face {
   font-family: "String family";
   src: url(font/selima_.otf);
}
 iframe{
     width: 20%;
     height: 200px;
}
/*@media (max-width: 1500px){
    header{
        display: flex;
        flex-direction: column;
        background-color: red;
  }*/
